<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{heading}}</title>
</head>
<body>
   {{>header}}
    <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci inventore sed iste officia corrupti impedit suscipit maiores, voluptatibus, tempora commodi quis quaerat soluta deserunt atque expedita quisquam consectetur. Incidunt, autem.</span>
        <span>Labore illo harum placeat animi tempora, dolores voluptatem, delectus minus, accusantium id quis enim asperiores. Recusandae deserunt magnam provident eum expedita sunt earum amet hic aut, temporibus modi optio, veritatis.</span>
        <span>Numquam, ducimus. Illum est dolorem eos voluptas temporibus optio at explicabo. Itaque fugiat quam porro ipsam laudantium, aliquam, dolore placeat nisi amet, incidunt velit corporis. A minima excepturi cumque commodi?</span>
        <span>Temporibus eligendi consequuntur, cumque voluptatem architecto iusto maiores, ipsa fugit vero veniam repellat porro natus repellendus dolorem autem cupiditate suscipit similique culpa. Quibusdam adipisci, qui placeat obcaecati doloribus, eveniet aut.</span>
        <span>Sapiente dolor inventore unde mollitia est? Iure, dolorum, ad! Vel maxime tempora eaque molestiae laboriosam, ut deleniti vitae, ab repudiandae dolorem assumenda fugit, perferendis facere corporis minus enim! Voluptates, sunt!</span>
        <span>Impedit, eos aut debitis, maxime inventore magnam reprehenderit velit nihil delectus consectetur soluta autem laboriosam. Dolorum, iste. Nostrum fuga quos deserunt, nisi cumque deleniti culpa. Ut in excepturi eaque, nam.</span>
        <span>Iusto impedit sit, quis a sint perspiciatis nulla velit, consequatur ut, facilis totam mollitia similique veritatis rerum! Quidem alias, porro dolore fuga consectetur sapiente minus distinctio laborum cupiditate quia animi.</span>
        <span>Minus sapiente repellendus magni. Voluptatem nihil explicabo perferendis exercitationem nesciunt voluptas quae minus, repellendus asperiores ratione ab incidunt consequatur quod fugit quia repudiandae possimus facere quisquam voluptate sequi praesentium illo.</span>
        <span>Dolore officia dignissimos sequi eaque esse illum temporibus dolorem accusantium, maxime harum, numquam facilis praesentium asperiores, nisi error? Inventore tenetur ea suscipit quam ut quaerat deserunt voluptates expedita consequuntur earum!</span>
        <span>Voluptates iste architecto deserunt nesciunt, dolorem optio officiis saepe. Corporis repudiandae facilis et pariatur eum. Reprehenderit tempora saepe ipsa voluptas quasi sequi unde ratione consectetur harum autem. Magni sunt, quibusdam.</span>
    </p>
    {{> footer}}
</body>
</html>