<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{heading}}</title>
</head>
<body>
   {{> header}}
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ullam perspiciatis tenetur minus repellendus officia cum quibusdam, magni fugit eius qui libero illo ea deleniti animi mollitia, quia unde magnam.</span><span>Consequatur est excepturi repellendus, nam cumque ea consectetur. Dolores labore dicta saepe repellendus distinctio deleniti, consequatur esse modi laboriosam ullam quibusdam id sequi aperiam cum, aspernatur. A accusamus, debitis ducimus.</span></p>
    {{> footer}}
</body>
</html>